.section-reward-height {
    width: 60%;
    margin: auto;
    height: 100%;
    padding: 100px 0;
}

.section-reward-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.reward-main-section {
    background-image: url(../Resource/Reward/BG_rew.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.reward-section-button-background {
    background-image: url(../Resource/Reward/button.webp);
    background-size: cover;
    background-position: center;
    width: 515px;
    height: 82px;
    text-align: center;
    line-height: 50px;
    border-radius: 12px;
    border: 2.5px solid #FF661F;
    box-shadow: 0px 0px 20px 0px rgba(229, 73, 0, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.reward-section-text-button {
    color: var(--Gradient-Functional-White, #FFF);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-left: 60px;
    margin-right: 15px;
}

.reward-section-first-conent {
    height: 80%;
}

.reward-section-first-conent-image1 {
    width: 45%;
}

.reward-section-first-conent-image2 {
    width: 10%;
}

.reward-section-first-conent-image3 {
    width: 45%;
}

.reward-section-second-conent {
    height: 10%;
    padding: 30px;
}

.reward-image1-responsive {}

.reward-image2-responsive {}

.reward-image3-responsive {}

@media only screen and (max-width: 991px) {

    .reward-section-first-conent {
        height: 25%;
    }

    .reward-main-section {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .reward-section-first-conent-image2 {
        width: 8%;
    }

    .section-reward-height {
        width: 100%;
        height: auto;
    }

    /* .reward-main-section {
        height: auto;
    } */

    .reward-image1-responsive {
        width: 100%
    }

    .reward-image2-responsive {
        width: 100%
    }

    .reward-section-text-button {
        font-size: 20px;
    }

    .reward-section-buton-responsive {
        width: auto;
    }

    .reward-section-text-button {
        color: var(--Gradient-Functional-White, #FFF);
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        margin-left: 40px;
        margin-right: 0px;
    }

    .reward-section-button-background {
        background-image: url(../Resource/Reward/button.webp);
        background-size: cover;
        background-position: center;
        width: auto;
        height: 45px;
        text-align: center;
        line-height: 50px;
        border-radius: 12px;
        border: 2.5px solid #FF661F;
        box-shadow: 0px 0px 20px 0px rgba(229, 73, 0, 0.90);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .reward-section-image-inside-button-responsive {
        width: 15%;
    }
}