/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Gabarito:wght@400;500;600;700;800&family=Ms+Madi&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap'); */
@font-face{
    font-family: font-AkiraExpanded;
    src: url(fonts/FontsFree-Net-Akira-Expanded-Demo.ttf);
}

@font-face {
    font-family: font-LeferiRegular;
    src: url(fonts/LeferiBaseRegular.ttf);
}

@font-face {
    font-family: font-KotraBold;
    src: url(fonts/KOTRA_BOLD\ Bold.ttf);
}

@font-face {
    font-family: font-LeferiBold;
    src: url(fonts/LeferiBaseBold.ttf);
}

@font-face {
    font-family: font-AvertaStdBlack;
    src: url(fonts/AvertaStd-Black.ttf);
}

@font-face {
    font-family: font-PretendardRegular;
    src: url(fonts/Pretendard-Regular.otf);
}

@font-face {
    font-family: font-PretendardThin;
    src: url(fonts/Pretendard-Thin.otf);
}

@font-face {
    font-family: font-PretendardMedium;
    src: url(fonts/Pretendard-Medium.otf);
}

@font-face {
    font-family: font-PretendardBlack;
    src: url(fonts/Pretendard-Black.otf);
}

@media (prefers-reduced-motion) {
    [data-animation] {
        animation: none;
    }
}


/* Animations */
:root {
    --animate-duration: 1.5s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    --font-size-title: 36px;
    --font-size-mobile-title: 25px;
    --font-size-mobile-title-bold: 25px;
    --font-weight-title: 500;
    --font-size-desc: 18px;
    --font-size-mobile-desc: 14px;
    --line-height-title: 1.2;
    --font-family-title: font-AvertaStdBlack;
    --font-family-Pretendard: font-PretendardRegular;
    --font-family-PretendardThin: font-PretendardThin;
    --font-family-PretendardMedium: font-PretendardMedium;
    --font-family-PretendardBlack: font-PretendardBlack;
}

[data-animation] {
    opacity: 0;
}


[data-animation].animated {
    opacity: 1;
}

.animated {
    animation-duration: 1s;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

body{
    /* font-family: 'Bungee Spice', cursive;
    font-family: 'Gabarito', cursive;
    font-family: 'Ms Madi', cursive;
    font-family: 'Roboto', sans-serif; */
    font-family: font-LeferiRegular;
    height: 100%;
    width: 100%;
    background-color: #3c3c3c;
}

/* #region Header */

.wrap-header{
    position: absolute;
    z-index: 99999;
    width: 100%;
}

.wrap-header-main{
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
}

.wrap-header-main-lang{
    color: #fff;
    display: flex;
    align-items: center;
}

.wrap-header-main-lang i{
    font-size: 25px;
    margin-right: 5px;
}

.main-lang-dropdown {
    position: relative;
}

.main-lang-dropdown::before {
    position: absolute;
    content: '';
    border: 3px solid #fff;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    width: 8px;
    height: 8px;
    right: 0;
    top: 5px;
    transform: rotate(-45deg);
    transition: .5s;
}

.main-lang-text{
    background: none;
    border: none;
    width: 70px;
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
}

.main-lang-text:focus {
    outline: 0;
}

.main-lang-text::placeholder {
    color: #fff;
}

.main-lang-option {
    position: absolute;
    top: 30px;
    z-index: 9999999999;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    display: none;
    transition: .3s;
    background-color: #2e2d2d;
}

.main-lang-dropdown.active .main-lang-option {
    display: block;
}

.main-lang-option-item {
    padding: 10px;
    cursor: pointer;
}

.main-lang-option-item:hover {
    background-color: #6B6B6B;
}

/* #endregion header */

/* #region footer */

.wrap-footer{
    background-color: #2E2319;
    padding: 30px 0;
}

.section-info-wrap{
    margin-top: 50px;
    margin-bottom: 40px;
}

.section-info-wrap-title{
    color: #fff;
    text-transform:  uppercase;
    font-size: 20px;
    font-weight: bold;
}

.section-info-wrap-desc{
    color: #fff;
    font-size: 13px;
    margin-top: 5px;
}

.section-copyright-title{
    text-align: center;
    color: #fff;
    font-size: 13px;
}

.section-info-wrap-item ul{
    padding-left: 0;
    margin-top: 20px;
}

.section-info-wrap-item li {
    margin: 4px 0;
}

.section-info-wrap-item a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.section-address-wrap-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.section-address-wrap{
    border-top: 2px solid #6B6B6B;
    padding-top: 20px;
}

.section-address-wrap-content{
    display: flex;
}

.section-address-wrap-content{
    margin-top: 20px;
}

.section-address-wrap-items{
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    
}

.section-address-wrap-items .section-address-wrap-items-label{
    position: absolute;
    color: #fff;
    font-size: 14px;
    width: 300px;
    bottom: -50px;
    left: 0;
    display: none;
}

.section-address-wrap-items:hover .section-address-wrap-items-label {
    display: block;
}

.section-address-wrap-items img{
    width: 40px;
}

.section-address-wrap-logo{
    display: flex;
    justify-content: end;
}

.section-address-wrap-logo img{
    height: 70px;
}

.section-copyright-title{
    margin-top: 100px;
}

/* #endregion footer */

/* #region  popup*/

#mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900000000;
    background-color: #26262cd0;
    display: none;
}

#boxes .window {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 999999999;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#boxes #dialog {
    width: 450px;
    height: auto;
    padding: 10px 10px 10px 10px;
    font-size: 15pt;
    top: 50%;
    left: 50%;
    display: none;
    margin-left: -10px;
    margin-top: -5%;
}

.agree:hover {
    background-color: #D1D1D1;
}

.popupoption:hover {
    background-color: #D1D1D1;
    color: green;
}

.popupoption2:hover {
    color: red;
}

.wrap-main-popup #san .close-img{
    width: 28px;
    float: right;
    margin-right: 35px;
    margin-top: 35px;
    background-color: #ffff;
    border-radius: 50%;
}

/* #endregion popup */

@media only screen and (max-width: 991px) {
        .wrap-header-main{
            padding: 20px 20px;
        }
        /* #region footer */

        .wrap-footer{
        padding: 30px 20px;
        }

        .section-address-wrap-logo{
            justify-content: center;
            height: 40px;
            margin-top: 40px;
        }

        .section-address-wrap-content {
            flex-direction: column;
        }

        .section-address-wrap-items{
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .section-address-wrap-items .section-address-wrap-items-label{
            display: block;
            position: relative;
            bottom: 0;
            margin-left: 15px;
        }

        /* #endregion footer */

    /* #region popup */

        #boxes .window {
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            z-index: 999999999;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }

        #boxes #dialog {
            width: 300px;
            height: auto;
            margin: auto;
            margin-left: -10px;
            margin-top: -10%;
        }

        .agree:hover {
            background-color: #D1D1D1;
        }  

        .popupoption:hover {
            background-color: #D1D1D1;
            color: green;
        }

        .popupoption2:hover {
            color: red;
        }

        .wrap-main-popup #san .close-img{
            width: 28px;
            float: right;
            margin-right: 25px;
            margin-top: 25px;
            background-color: #ffff;
            border-radius: 50%;
        }


    /* #endgion popup */

}

@keyframes animateFadein{
    0% { transform: scale(0.7); }
    100% { transform: scale(1); }
}

.animateFadein{
    animation: animateFadein 1.5s;
}

@keyframes animateFadeUp{
    0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
    
    100% {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
    }
}

.animateFadeUp{
    animation: animateFadeUp 1.5s;
}

@keyframes animateBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.animateBeat {
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-duration: calc(var(--animate-duration) * 1.3);
    animation-duration: calc(var(--animate-duration) * 1.3);
    -webkit-animation-name: animateBeat;
    animation-name: animateBeat;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@keyframes animatefadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.animatefadeInLeft{
    -webkit-animation-name: animatefadeInLeft;
    animation-name: animatefadeInLeft;
}

@keyframes animatefadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(20%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.animatefadeInRight {
    -webkit-animation-name: animatefadeInRight;
    animation-name: animatefadeInRight;
}