

/* #region main page */

.section-story-dashboard{
    background-image: url('Content/00_BG/Mainpage_story_Bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-story-dashboard-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding-top: 90px;
}

.story-dashboard-content{
    margin: 30px auto;
    max-width: 780px;
    text-align: center;
}

.section-story-dashboard-title{
    font-family: var(--font-family-PretendardBold);
    font-size: 34px;
    font-weight: 800;
    color: #fff;
}

.section-story-dashboard-description{
    margin-top: 30px;
}

.section-story-dashboard-description p{
    font-family: var(--font-family-Pretendard);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.story-dashboard-img-list{
    display: flex;
    justify-content: center;
}

.story-dashboard-img-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-dashboard-img-items:nth-child(1){
    animation-delay: 100ms;
}

.story-dashboard-img-items:nth-child(2) {
    animation-delay: 200ms;
}

.story-dashboard-img-items:nth-child(3) {
    animation-delay: 300ms;
}

.story-dashboard-img-items:nth-child(4) {
    animation-delay: 400ms;
}

.story-dashboard-img-items-thumb img{
    height: 235px;
}

/* #endregion main page */

/* #region section list */

.wrap-story-section{
    background-color: #1a1a1a;
    height: 100%;
    padding: 30px 0;
}

.section-collections-items{
    max-width: 1050px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgb(0 0 0 / 10%) 0px 54px 55px, rgb(0 0 0 / 8%) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgb(0 0 0 / 3%) 0px 12px 13px, rgb(0 0 0 / 16%) 0px -3px 5px;
}

.section-collections-items-img img{
    border: 50%;
}

.section-collections-items-content{
    width: 100%;
    margin-left: 40px;
    margin-right: 30px
}

.section-collections-items-content-title{
    color: #fff;
    font-size: 24px;
    font-family: var(--font-family-Pretendard);
    font-weight: 700;
}

.section-collections-items-content-description{
    border-top: 1px solid #fff;
    font-family: var(--font-family-Pretendard);
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 25px;
}

/* #endregion section list */

@media only screen and (max-width: 991px) {

/* #region main page */

    .section-story-dashboard {
        background-size: 400%;
        padding: 10px 0;
    }

    .section-story-dashboard-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        padding-top: 80px;
    }

    .story-dashboard-content {
        margin: 10px auto;
        max-width: auto;
        padding: 0 10px;
        text-align: center;
    }

    .section-story-dashboard-title {
        font-size: 20px;
    }

    .section-story-dashboard-description {
        margin-top: 20px;
    }

    .section-story-dashboard-description p {
        font-size: 13px;
    }

    .story-dashboard-img-items-icon img{
        width: 15px;
    }

    .story-dashboard-img-items-thumb img {
        height: 115px;
    }

    /* #endregion main page */
   

    /* #region section list */

        .wrap-story-section {
            padding: 30px 10px;
        }
    
        .section-collections-items {
            max-width: auto;
            margin: 30px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #1c1c1c;
            border-radius: 10px;
            padding: 20px;
        }
    
        .section-collections-items-content {
            width: 100%;
            margin-left: 40px;
            margin-right: 30px
        }
    
        .section-collections-items-content-title {
            font-size: 20px;
        }
    
        .section-collections-items-content-description {
            border-top: 1px solid #fff;
            font-family: var(--font-family-Pretendard);
            font-size: 13px;
            color: #fff;
            margin-top: 20px;
            padding-top: 20px;
            line-height: 25px;
        }

        .section-collections-items-img{
            width: 150px;
        }

    /* #endgion section list */

}