body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: transparent linear-gradient(180deg, #FFA237 0%, #E95218 100%) 0% 0% no-repeat padding-box;
}

.wrap-main{
    width: 100%;
    height: 100%;
}

.main-pdf{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}